@import 'tailwindcss';

@theme {
  /* Custom Colors */
  --color-brand-gold: #c5b358;
  --color-brand-dark: #1a1a1a;
  --color-brand-gray: #f3f4f6;

  /* Custom Fonts */
  --font-serif: 'Merriweather', serif;
  --font-sans: 'Inter', sans-serif;
}

/* Global Styles */
body {
  background-color: var(--color-brand-gray);
  color: var(--color-brand-dark);
  font-family: var(--font-sans);
}
